body{
    font-family:monospace;
    color: white;
    background-color: skyblue;
    margin: 0;
}

header{
    width:100%;
    position: absolute; 
    /*position chg to 'fix' can fix the nav at top but
     when jump to section, some contents hide behide*/
    top: 0;
    background-color: aliceblue;
}

#webname {
    padding-left: 2%;
    color: midnightblue;
}

nav{
    padding: 2px;
    padding-left: 3%;
    color: peachpuff;
    font-weight: bold;
    font-size: 16px;
}
.nav-1{
    background-color: cadetblue;
}
.nav-2{
    background-color: steelblue;
}

footer{
    padding: 4%;
    color: midnightblue;
}

a {
    color: inherit;
    text-decoration: none;
}

.home-main {
    margin-top: 175px;
}
.abt-main, .contact-main,.tip-main, .learn-main, .quiz-main, .cal-main{
    margin-top: 175px;
    padding: 3% 10%;
}

.cal-main, #conS1 {
    flex-grow: 1;
    display: flex; /* default: vertical direction */
    align-items: center;
    justify-content: center;
}

.home-image{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: beige;
    padding: 5% 0%;
    height: 200px;
}
.contact-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
}

.home-section {
    padding: 3% 10%;
}
.abt-section{
    padding-top: 2%;
}
.contact-section {
    margin: 5% auto;
}
#conS1 {
    padding: 3% 0%;
    max-width: 700px;
    background-color: beige;
    color: darkturquoise;
    border-radius: 10px;
    text-align: center;
}
#conS2 {
    max-width: 1000px;
    padding: 2% 2% 3%;
    background-color: lightcyan;
    border-radius: 10px;
}

.home-title, .contact-title, .abt-title, .tip-title, .learn-title, .cal-title{
    font-size: xx-large;
    color: rgb(34, 74, 167);
}
.para-title, .form-title{
    font-size: x-large;
    color: rgb(39, 120, 218);
}

#para{
    text-indent: 5%;
}
#para, #line{
    font-size: large;
}
.blk-title{
    font-size: x-large;
}

/* only home */
#feature{
    padding: 2% 5%;
    width: 70%;
    background-color: beige;
    color: darkturquoise;
    margin: auto;
    border-radius: 15px;
}


/* contact section 1 */
label {
    font-size: large;
    font-weight: bold;
}
#fill input, .contactBtn, textarea {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    display: block;
    margin: 10px auto;
    padding: 1%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.contactBtn {
    background-color: rgb(21, 187, 189);
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 30%;
}
textarea {
    max-width: 500px;
}
/* contact sect 2 */
#teamInfo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 10px;
}
#harris, #courage, #nat {
    flex: 1 1 300px;
    max-width: 300px;
    box-sizing: border-box;
    background-color: rgb(86, 120, 153);
    color: aliceblue;
    padding: 2%;
    font-weight: bold;
    border-radius: 10px;
}
#name {
    text-align: center;
}

/* only tip*/
.tip-section, .learn-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3% auto;
    padding: 2% 5% 3%;
    background-color: beige;
    color: darkturquoise;
    border-radius: 10px;
    max-width: 800px;
}
.learn-section{
    min-width: 570px;
}
.tip-section img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}

/* only quiz */
.quiz-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 3%;
    background-color: beige;
    color: darkturquoise;
    border-radius: 10px;
    max-width: 800px;
}
.question {
    padding: 3%;
}

.quizBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: rgb(21, 187, 189);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* only cal */

.cal-body {          
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}

.cal-form{
    max-width: 500px;
    width: 100%;
    padding: 2%;
    background-color: beige;
    color: darkturquoise;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.cal-form input, .cal-form button, .cal-form select{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: none;
    background-color: white;
    text-align: center;
    font-size: 16px;
}
.cal-form button {
    background-color: rgb(21, 187, 189);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}